---

---
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" />
</head>
<body>
<div id="docsearch"></div>
<h1 id="path">Today Bookmarks {{ site.time | date: "%Y-%m-%d" }}</h1>
<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Last modified</th>
  </tr>
        {% for res in site.static_files %}
          {% if res.path contains 'resources' and res.path contains site.time | date: "%Y-%m-%d" %}
            <tr>
              <td><a class="post-link" href="{{ res.path | prepend: site.baseurl }}">{{ res.path | remove:'/resources/' }}</a></td>
              <td>{{ res.modified_time | date: "%-d %b, %Y" }}</td>
            </tr>
          {% endif %}
        {% endfor %}
</table>
ghpages fileserver v1.0
© Karlheinz Niebuhr

</body>

<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
<script>
docsearch({
  container: '#docsearch',
  indexName: 'taeuk-bookmark',
  appId: '0BOLUCHQ0E',
  apiKey: '43f45414abdf81874f07229bfa073de7',
});
</script>
</html>
